.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    background: #2e3131;
  }
  .footer-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
  }
  @media all and (max-width: 768px) {
    .footer-heading {
      font-size: 20px;
    }
    .footer-button {
      font-size: 12px;
      width: 50vw;
    }
  }
  .footer-button {
    background: linear-gradient(180deg, #58d69d 0%, #13bfab 100%);
    border-width: 0px;
    padding: 5px;
    width: 150px;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
  }
  